@font-face {
    font-family: "Typewriter";
    src: url("/fonts/atwriter.ttf");
}

* {
    font-family: "Typewriter", 'Times New Roman', Times, serif;
}

body {
    background-color: #000;
    margin: 0;
}

/* Topbar / Header */

header {
    background-color: rgb(93, 91, 66);
    float: left;
    clear: both;
    width: 100%;
    height: 4rem;
    overflow: clip;
    user-select: none;
}

.titlebar {
    background-color: #dbdbdb;
    float: left;
    color: black;
    border-radius: 0.7rem;
    width: 12rem;
    height: 2rem;
    text-align: center;
    letter-spacing: .1rem;
    padding: 0.5rem 0.8rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    order: 1;
}

.navbutton {
    float: right;
    width: 12rem;
    clip-path: polygon(0% 100%, 15% 0%, 85% 0%, 100% 100%);
    transform: translateY(0.8rem);
    filter: saturate(50%);
    transition-duration: 200ms;
}

.navbutton:hover {
    transform: translateY(0rem);
    filter: saturate(100%);
}

.navbutton h1 {
    font-family: "Typewriter", 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #dbdbdb;
    color: black;
    padding: 0.2rem 0.2rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.mobile {
    display: none;
}
.landscape {
    display: block;
}

@media (max-width:820px)  {
    .mobile {
        display: flex;
        justify-content: space-between;
    }
    .navbutton {
        order: 1;
        clip-path: none;
        transform: translateY(0rem);
        background-color: #dbdbdb;
    }
    .navbutton:hover {
        transform: translateY(0rem);
        filter: saturate(0%);
    }
    .titlebar {
        order: 1;
    }
    .landscape {
        display: none;
    }
}

/* Main content */

main {
    user-select: auto;
    background-color: #dbdbdb;
    display: block;
    box-sizing: border-box;
    padding: 2rem;
    width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - 5rem);
    float: left;
    color: #222;
}

main * * {
    float: left;
}

main img {
    height: 10rem;
    width: auto;
    margin: 1rem;
    border-radius: 1rem;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Foot */

footer {
    background-color: rgb(93, 91, 66);
    display: block;
    float: left;
    width: 100%;
    height: 1rem;
}